@import "https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bitter', serif;
}

main {
	padding: 50px;
	min-height: 100vh;
	background: rgb(238,174,202);
	background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
	h1 {
		text-align: center;
		margin-bottom: 2em;
	}
}

.pokemon_container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	justify-content: center;
}

.card {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	transition: .5s;

	&:hover {
		transform: translateY(-5px);
	}
}

.card-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		height: 150px;
		width: 150px;
		background: rgba(246, 246, 246, 0.377);
		border-radius: 10%;
		box-shadow: rgba(0, 0, 0, 0.217) 0px 25px 20px -20px;
	}

	p {
		font-weight: 700;
		margin-top: 10px;
	}

	span {
		margin-bottom: 10px;
		font-size: 0.8em;
	}
}
